AddDefaultCharset UTF-8
php_value display_errors 1
php_value error_reporting 2047
RewriteEngine on

RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^(.*)$ index.php [L]
 Options +ExecCGI 
AddHandler cgi-script .py .cgi 